<div class="row">
  <div *ngIf="showPassword; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>Your password is "{{ password }}"</ng-template>
  <ng-template #elseBlock>Click the Button to show your password!</ng-template>
</div>

<div class="row">
  <button
    class="btn btn-primary"
    (click)="onTogglePasswordClicked($event)"
  >
    {{ showPassword ? "Hide Password" : "Show Password" }}
  </button>
</div>

<div class="row">
  <div *ngIf="passwordShown.length > 0">
    <h3>Password Shown</h3>
    <ul>
      <li *ngFor="let date of passwordShown; index as i">
        <div [ngStyle]="{color: i < 4 ? 'black' : 'gray'}">
          {{ date }}
        </div>
      </li>
    </ul>
  </div>
</div>
